#gameArea {
    border: 4px solid white;
}

body {
    height: 100vh;
    background: linear-gradient(
        0deg,
        rgb(131, 112, 255) 0%,
        rgb(252, 109, 245) 100%
    );
    text-align: center;
    overflow: hidden; /* Hide scrollbar*/
}

h1{
    font-family: Comic Sans MS;
}